# this file holds all info for the odkoc-tool to function
# information should be provided as key - value pairs, separated by a space
# lines with more than two elements will be ignored, as will be empty lines

# General parameters
sleep_this_long 01
#loop_this_long 01:55:01
loop_this_long 00:00:01
environment test

# odk-central parameters
#######################
odkc_user me@myself.com
odkc_password secrets
odkc_url https://my.own.odk-central.org

# each project has an id, each form has an id 
project_id 1 
form_id thisform

# some parameters for sending the log
#####################################
mail_enabled false
mail_server localhost
mail_from them@themselves
mail_to me@myself.com
mail_subject tb043-log



